---
layout: default
---
<div class = "row" style = "padding-top: 20px;">
  <div class = "col-sm-12">
  </div>
</div>
<div class = "row" style = "margin-bottom: 20px;">

  <div class = "col-sm-6">
    <h3>Inspire, Innovate, Improve!</h3>
    <h4>{{site.data.sigcse.date.month}}
    {{site.data.sigcse.date.start}} - {{site.data.sigcse.date.end}},
    {{site.data.sigcse.location.city}}, {{site.data.sigcse.location.state}},
    {{site.data.sigcse.location.country}}</h4>

<p>    SIGCSE 2017 welcomes colleagues from around the world to present demos, lightning talks, papers, panels, posters, special sessions, and workshops, and to discuss computer science education in birds-of-a-feather sessions and informal settings. The SIGCSE Technical Symposium addresses problems common among educators working to develop, implement and/or evaluate computing programs, curricula, and courses. The symposium provides a forum for sharing new ideas for syllabi, laboratories, and other elements of teaching and pedagogy, at all levels of instruction.
</p>

  <div class = "row">
    <h3>Supporters</h3>
    <p>Our incredible supporters help power the SIGCSE TS and our work as CS educators.</p>
    

    {% assign rows = 2 %}
    {% assign cellstyle = "col-sm-8 col-sm-offset-1" %}

    {% for rank in site.data.supporters %}
      <h4>{{rank[0]}}</h4>
      {% for supporter in rank[1] %}
        <div class = "text-center">
          <p style = "margin-bottom:-5px;">
            {{supporter.name}}
          </p>
          <p style = "margin-bottom:30px;">
            <a href="{{supporter.link}}">
              <img src = "{{site.baseurl}}/images/supporters/{{supporter.image}}" alt = "{{supporter.name}}">
            </a>
            </p>
        </div>
      {% endfor %}   <!-- End supporter {{supporter.name}} -->
    {% endfor %} <!-- End rank {{rank[0]}} --> 
        
  </div> <!-- End row for supporters -->
  
  </div> <!-- End LH side of page -->

  <div class = "col-sm-5 col-sm-offset-1">
    <div class = "row">
      <img  class = "img-responsive"
            src = "images/venue/seattle-mountain-tiffany98101-500.png"
            alt = "Seattle with a mountain in the background.
                   The mountain has snow on it.
                   A building, which might be a UFO, is in the foreground.
                   Picture CC-BY tiffany98101."/>
    </div>

    <div class = "row">
      <h5> Important Dates </h5>
    </div>

    {% for dead in site.data.sigcse.deadlines %}
    <div class = "row">
      <div class = "col-sm-6" style = "font-weight: bold;">
        {{dead.date}}
      </div>
      <div class = "col-sm-6">
        {% for type in dead.items %}
          {{type}}{% unless forloop.last %},{% endunless %}
        {% endfor %}
      </div>
    </div>
    {% endfor %}
    <div class = "alert alert-success" style="margin-top: 0.5em">
      <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span> <a href = "{{ '/docs/sigcse2017-draft-program.pdf' | prepend: site.baseurl }}">Preliminary program (PDF)</a>
    </div>


  <div class = "row">
    <div class = "col-md-8">
      <h4>News</h4>
      {% include front-news.html %}
    </div>
    <div class = "col-md-4">
    </div>
  </div>
  
  <img
    src = "{{ '/images/sigcse2017-logo-300x200.png' | prepend: site.baseurl }}"
    width = "300"
    height  = "200"
    alt = "The Amazing SIGCSE 2017 Logo, in blueish and greenish.">
    
  </div>

  
</div>
