<ul>
  <li>
    <strong>Mar 7th</strong>: The <a href="http://dl.acm.org/citation.cfm?id=3017680">Conference Proceedings</a> are now available in the ACM Digital Library.
  </li>
  <li>
    <strong>Mar 4th</strong>: We have <a href="{{ '/attendees/visitor-info.html' | prepend: site.baseurl }}">a lot of great information for visitors to Seattle</a> that you can use to guide your stay in this great coastal city!
  </li>

  <li>
    <strong>Feb 28th</strong>: See this year's <a href="{{ '/docs/sigcse2017-best-paper-and-exemplary-paper-awards.pdf' | prepend: site.baseurl }}">Best Papers and Exemplary Papers</a>.  They are marked in the program so you can plan the sessions you wish to attend.
  </li>

  <li>
    <strong>Feb 28th</strong>: Next year's <a href="{{ '/docs/sigcse2018-cfp.pdf' | prepend: site.baseurl }}">SIGCSE 2018 Call for Particiation</a> has been posted.
  </li>

  <li>
    <strong>Feb 16th</strong>: <a href="{{ '/attendees/index.html#travel' | prepend: site.baseurl }}">Ground travel information</a> for when you land at Seattle-Tacoma International (SEA) now available.
  </li>

  <li>
    <strong>Feb 14th</strong>: <a href="{{ '/docs/sigcse2017-program.pdf' | prepend: site.baseurl }}">The official conference program is complete.</a> Share and enjoy!
  </li>

  <li>
    <strong>Feb 13th</strong>: <a href="{{ '/attendees/index.html' | prepend: site.baseurl }}">Check the hotel info</a> if you are still looking to get the group rate!
  </li>

  <li>
    <strong>Feb 5th</strong>: Bringing kids?  Register for
<a href="/attendees/kidscamp.html">Kids' Camp</a>,
sponsored by SIGCSE!
  </li>

  <li>
    <strong>Jan 30th</strong>: The
<a href="http://easychair.org/smart-program/SIGCSE2017/">online program</a>
is now live!
  </li>

  <li>
    <strong>Jan 15th</strong>:
<a href="{{ '/attendees/workshops.html' | prepend: site.baseurl }}">Workshops</a>
are posted. Your peers always provide a powerful learning experience, and the workshops are highly recommended.
  </li>

  <li>
    <strong>Jan 5th</strong>:
<a href="{{ '/info/studentvolunteers.html' | prepend: site.baseurl }}">Volunteer registration</a>
is now open. Students take note!
  </li>

  <li>
    <strong>Dec 18th</strong>: Info on
<a href="{{ '/attendees/presymposium.html' | prepend: site.baseurl }}">pre-symposium events</a>
is now available.
  </li>

  <li>
    <strong>Dec 10th</strong>: The
<a href="{{ '/attendees#roommatedb' | prepend: site.baseurl }}">roommate database</a>
is now available.
  </li>

  <li>
    <strong>Dec 10th</strong>:
<a href="http://www.regonline.com/sigcse2017">Online registration</a> is now open.
  </li>

  <li>
    <strong>Nov 13th</strong>:
<a href="{{ '/attendees#reserving' | prepend: site.baseurl }}">Hotel reservation</a> information
is now available.
  </li>

  <li>
    <strong>Nov 11th</strong>:
<a href="http://www.sheridanprinting.com/typedept/sigcse.htm">Camera-ready instructions</a> for authors
are available.
  </li>

  <li>
    <strong>Oct 31th</strong>:
    The <a href = "{{ '/info/program.html' | prepend: site.baseurl }}">preliminary program</a> is ready!
  </li>

  <li>
    <strong>Oct 27th</strong>:
    Camera-ready submission deadline announced: Dec 11.
  </li>

  <li>
    <strong>Oct 15th</strong>:
    Acceptance notifcations for papers, panels, special sessions, and workshops sent to authors.
  </li>

  <li>
    <strong>Sept 4th</strong>:
    <a href = "{{ '/attendees/index.html' | prepend: site.baseurl }}">Rates for SIGCSE 2017</a> have been posted.
  </li>

  <li>
    <strong>Aug 20th</strong>:
    An <a href = "{{ '/reviewers/review-process.html' | prepend: site.baseurl }}">improved review process</a> for SIGCSE 2017.
  </li>

  <li>
    <strong>Aug 3rd</strong>:
    When you're ready to submit, <a href="https://easychair.org/conferences/?conf=sigcse2017">EasyChair awaits</a>.
  </li>

  <li>
    <strong>Jul 28th</strong>:
    <a href="{{ 'authors/index.html' | prepend: site.baseurl }}">Guidelines for submissions</a> posted.
  </li>

  <li>
    <strong>Jul 20th</strong>:
    Reminder of <a href="{{ '/info/cfp.html' | prepend: site.baseurl }}">CFP</a> and due dates posted.
  </li>

  <li>
    <strong>Jun 14th</strong>:
      <a href="{{ '/info/cfp.html' | prepend: site.baseurl }}">Call for participation</a> is posted.
  </li>

</ul>
