<ul>
    <li>
        <strong>Nov 1, 2017</strong>:
        Accepted submission list is now available
      </li>
    <li>
        <strong>Nov 1, 2017</strong>:
        Workshop listing is now available
      </li>
  <li>
    <strong>Oct 31, 2017</strong>:
    Hotel group codes have been posted
  </li>
    <li>
        <strong>Oct 13, 2017</strong>:
        Information for attendees has been added
      </li>
  <li>
    <strong>Oct 1, 2017</strong>:
    Notifications will go out by Oct 7 due to Hurrican Harvey
  </li>
    <strong>Aug 31, 2017</strong>:
      <a href="http://sigcse2018.sigcse.org/harvey.html">Accommodations regarding Hurricane Harvey</a>
    </li>
  <li>
    <strong>Aug 17, 2017</strong>:
      FAQ posted @ <a href="https://sigcse2018.sigcse.org/authors/faq.html">https://sigcse2018.sigcse.org/authors/faq.html</a>
  </li>
  <li>
    <strong>Jul 17, 2017</strong>:
      More details about submission guildelines for all tracks posted.
  </li>
  <li>
    <strong>Jun 26, 2017</strong>:
      Call for Papers updated with new deadlines and more information about tracks.
  </li>
  <li>
    <strong>Mar 8, 2017</strong>:
      SIGCSE 2018 site launches!
  </li>
  

</ul>
